<mat-card>
  <mat-toolbar>
    <span class="listar-clientes">Lista de Clientes</span>
  </mat-toolbar>
  <mat-card-content>
    <table mat-table [dataSource]="listaClientes" class="mat-elevation-z8">

      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let cliente"> {{ cliente.nome }} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let cliente"> {{ cliente.email }} </td>
      </ng-container>

      <!-- Telefone Column -->
      <ng-container matColumnDef="telefone">
        <th mat-header-cell *matHeaderCellDef> Telefone </th>
        <td mat-cell *matCellDef="let cliente"> {{ cliente.telefone }} </td>
      </ng-container>

      <!-- Endereço Column -->
      <ng-container matColumnDef="endereco">
        <th mat-header-cell *matHeaderCellDef> Endereço </th>
        <td mat-cell *matCellDef="let cliente"> {{ cliente.endereco }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="exibirAsColunas"></tr>
      <tr mat-row *matRowDef="let row; columns: exibirAsColunas;"></tr>
    </table>
  </mat-card-content>
</mat-card>
