<div>

  <p>{{ cliente._id }}</p>
  <p>{{ cliente.nome }}</p>
  <p>{{ cliente.email }}</p>
  <p>{{ cliente.telefone }}</p>
  <p>{{ cliente.endereco }}</p>

  <!-- <div class="acoes">
    <button class="botao-editar">
      <img src="../../../../assets/imagens/icone-editar.png"
           routerLink="/clientes/editarcliente/{{ cliente.id }}"
           alt="Icone de editar">
    </button>
    <button class="botao-excluir">
      <img src="../../../../assets/imagens/icone-excluir.png"
           routerLink="/clientes/excluircliente/{{ cliente.id }}"
           alt="Icone de excluir">
    </button>
  </div> -->

</div>
